.chart-container {
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    background-color: var(--white);
  }

  input[type="radio"] {
    margin-left: 5px; 
  }
  label {
    font-weight: bold;
    color: #333;
  }

.slider-input {
    width: 100%;
    /* margin: 50px;
    padding: 15px; */
}

input[type="range"] {
  -webkit-appearance: none; /* Remove default styling (for WebKit/Blink browsers) */
  width: 100%;
  height: 10px;
  margin: 10px 0;
  /* background-color: #ddd; Track color */
  border-radius: 5px; /* Rounded corners */
  outline: none; /* Remove default focus style */
}

/* Styles for the custom track */
input[type="range"]::-webkit-slider-runnable-track {
  height: 10px;
  /* background-color: #4CAF50; Change this to the desired progress bar color */
  border-radius: 5px; /* Rounded corners */
}

/* Styles for the custom thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Remove default styling (for WebKit/Blink browsers) */
  width: 20px;
  height: 20px;
  background-color: #fff; 
  border: 2px solid #4CAF50; /* Thumb border color */
  border-radius: 50%; /* Circular shape */
  margin-top: -5px; /* Center vertically */
}

  .chart-body {
    width: 93%;
    margin: 50px;
    padding: 15px;
    border-radius: 10px;
    background-color: var(--white);
  }

  .range-container {
    position: relative;
    width: 100%;
    margin: 20px auto;
  }

  .range-scale {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .tick-mark {
    position: absolute;
    height: 8px;
    width: 1px;
    background-color: #333;
    bottom: 30px;
  }