<div class="chart-container">
    <canvas  id="MyChart" >{{ chart }}</canvas>

    <div class="slidecontainer range-container">
        <!-- <p>Slide both direction</p> -->
        <input [ngStyle]="{'background-color': progressColor}" class="slider-input" type="range" min="1" max="77" value="0" (change)="onchange($event)" [title]="tooltipText">
        <div class="range-scale">
            <span>0</span>
            <span>2 hours</span>
            <span>5 hours</span>
            <span>7 hours</span>
            <span>10 hours</span>
        </div>
        <div *ngFor="let tick of ticks">
            <div class="tick-mark" [style.left]="(tick) + '%'"></div>
        </div>
    </div>
</div>