<div [ngClass]="replyClass">
  <div class="container_card">

    <app-author
      [author]="comment.user.username || reply.user.username"
      [authorImg]="comment.user.image.png || reply.user.image.png"
      [createdAt]="comment.createdAt || reply.createdAt"
    ></app-author>

    <app-message *ngIf="comment.content; else replying"
    [message]="comment.content"
    ></app-message>

    <ng-template #replying>
      <app-message [message]="reply.content" [replyingTo]="reply.replyingTo">
      </app-message>
    </ng-template>

    <div class="card_upvotes-and-reply">
      <app-upvotes [score]="comment.score || reply.score"></app-upvotes>
      <app-modify *ngIf="comment.user.username == currentUser.username || reply.user.username == currentUser.username else replyBtn"></app-modify>
      <ng-template #replyBtn>
        <app-reply></app-reply>
      </ng-template>
    </div>
  </div>
</div>
