.container_reply {
  display: flex;
  align-items: center;
}

.replyBtn {
  border: 0;
  background-color: transparent;
  color: var(--moderate-blue);
  font-weight: 500;
  font-size: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.replyBtn > img {
  margin-right: 5px;
}

.container_reply > img {
  padding: 5px;
}

.container_reply > p {
  font-weight: 500;
  font-size: 16px;
}


.container_comment {
  margin: 15px;
  padding: 15px;
  border-radius: 10px;
  background-color: var(--white);
}

.text_area > textarea {
  text-decoration: none;
  border: 1px solid var(--light-gray);
  border-radius: 10px;
  resize: none;
  width: 100%;
  height: 100px;
  padding: 15px 20px;
  font-size: 16px;
}

.text_area > textarea:focus {
  outline: 0;
  border: 1px solid var(--moderate-blue);
}

.comment_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.comment_info > img {
  height: 40px;
}

.comment_info > button {
  height: 50px;
  padding: 0 30px;
  font-weight: 500;
  border: none;
  border-radius: 10px;
  color: var(--white);
  background-color: var(--moderate-blue);
  cursor: pointer;
}

.user_img,
.send_btn {
  display: none;
}

@media screen and (min-width: 1024px) {
  .container_comment {
    margin: 15px 15px 15px 50px;
    display: flex;
    justify-content: space-between;
    flex-grow: stre;
  }

  .comment_info {
    display: none;
  }

  .text_area {
    width: 100%;
  }

  .user_img,
  .send_btn {
    display: block;
  }

  .user_img > img {
    height: 50px;
    margin: 0px 10px 0 10px;
  }

  .send_btn > button {
    background-color: var(--moderate-blue);
    color: var(--white);
    border: none;
    padding: 15px 30px;
    border-radius: 5px;
    margin-left: 15px;
    cursor: pointer;
  }
}

