<div style="width: 100%;">
  <img src="./assets/images/banner-foxnews.png" />
</div>

<div class="text-center">
  <h3>
    New York could face redistricting deja vu after court hands massive legal win to Dems: expert
  </h3>
</div>
  <div class="article-body">
    <div class="featured featured-video video-ct" data-v-b8a95802="">
      <div class="contain" data-v-b8a95802="">
        <div class="control" data-v-b8a95802=""><a href="#" class="top" data-v-b8a95802=""></a> <a href="#"
            class="close" data-v-b8a95802="">close</a></div>
        <div class="video-container" data-v-b8a95802="">
          <div data-video-id="6331256616112" data-video-domain="foxnews" data-widget-type="embed" class="m video-player"
            data-v-b8a95802="" data-embed-uid="fnc-embed-1">
            <div class="video-container"><iframe aria-label="MVPD Picker"
                src="//static.foxnews.com/static/orion/html/video/iframe/vod.html?v=20240103210812#uid=fnc-embed-1&amp;url=www.foxnews.com%2Fus%2Fnew-york-could-face-redistricting-deja-vu-court-hands-massive-legal-win-dems-expert"
                border="0" frameborder="0" allow="autoplay" scrolling="no"
                style="width: 100%; height: 1px; min-height: 100%;" referrerpolicy="no-referrer-when-downgrade"
                mozallowfullscreen="" webkitallowfullscreen="" allowfullscreen=""></iframe></div>
          </div>
        </div>
        <div class="info" data-v-b8a95802="">
          <div class="caption" data-v-b8a95802="">
            <h4 class="title" data-v-b8a95802=""><a href="https://www.foxnews.com/video/6331256616112"
                data-v-b8a95802="">Rep. Mike Lawler slams New York Democrats over redistricting effort: Can’t beat us in
                a fair set of maps</a></h4>
            <p data-v-b8a95802="">Rep. Mike Lawler, R-N.Y., discusses efforts in New York to redraw congressional
              districts, threatening to flip vulnerable GOP seats in the 2024 election.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="paywall">
      <p class="speakable"><a href="https://www.foxnews.com/category/politics/elections/democrats" target="_blank">New
          York’s highest court handed Democrats</a> a massive win ahead of the 2024 election cycle, ordering a state
        commission to redraw congressional district lines as the party tries to regain seats lost during 2022's
        elections.&nbsp;</p>
      <div class="ad-container tablet ad-h-50 ad-w-300">
        <div data-iu="lb2" class="ad gam"></div> <!----> <!---->
      </div>
      <div class="ad-container mobile ad-h-250 ad-w-300 ad-placeholder-load"><!---->
        <div data-iu="ban1" id="mobile-mw-ad-ban1" class="ad gam inline"></div>
        <script>
          if (window && window.foxstrike && Array.isArray(window.foxstrike.cmd)) {
            window.foxstrike.cmd.push(function (Strike) {
              Strike.insertAd('mobile', 'ban1', 'mobile-mw-ad-ban1');
            });
          } else {
            console.error('Error: window.foxstrike not found');
          }
        </script>
      </div>
      <p class="speakable">The New York’s Court of Appeals’ decision last week ordered the state’s Independent
        Redistricting Commission [IRC] to submit congressional maps to the state Legislature by Feb. 28. However, the
        state could land in a similar messy redistricting situation as 2022, according to New York-based Republican
        election attorney Joseph Burns.&nbsp;</p>
      <p>"If you go back to 2022, those maps were challenged, the state Senate and congressional maps were thrown out,
        then you had the special master drawing the Senate and congressional districts. Well, what that resulted in was
        two separate primary elections. One that was set by the judge for the Senate and Congress in August, and then
        the one for every other office … in June," Burns said.&nbsp;</p>
      <div class="ad-container desktop ad-h-50 ad-w-300">
        <div data-iu="lb2" class="ad gam" id="desktop_desk-art-us-lb2"
          data-ad-size="728x90,300x250,320x50,300x50,1x1,fluid" data-ad-lz="1" data-hot-unit=""></div> <!----> <!---->
      </div>
      <p>"Look, is it possible we could be back at that again this year if the new maps that are approved are challenged
        in court? It's entirely possible. I can tell you, going through 2022, it wasn't a fun experience."</p>
      <div class="ad-container mobile ad-h-250 ad-w-300 ad-placeholder-load"><!---->
        <div data-iu="ban2" id="mobile-mw-ad-ban2" class="ad gam inline" data-ad-lz="1"></div>
        <script>
          if (window && window.foxstrike && Array.isArray(window.foxstrike.cmd)) {
            window.foxstrike.cmd.push(function (Strike) {
              Strike.insertAd('mobile', 'ban2', 'mobile-mw-ad-ban2');
            });
          } else {
            console.error('Error: window.foxstrike not found');
          }
        </script>
      </div>
      <p><a
          href="https://www.foxnews.com/politics/ny-court-decision-gives-dems-inside-track-on-competitive-house-districts"
          target="_blank"><strong>NY COURT DECISION GIVES DEMS INSIDE TRACK ON COMPETITIVE HOUSE DISTRICTS</strong></a>
      </p>
      <div class="image-ct inline">
        <div class="m">
          <picture>
            <source media="(max-width: 767px)"
              srcset="https://a57.foxnews.com/static.foxnews.com/foxnews.com/content/uploads/2023/01/343/192/New-York-state-capitol.jpg?ve=1&amp;tl=1, https://a57.foxnews.com/static.foxnews.com/foxnews.com/content/uploads/2023/01/686/384/New-York-state-capitol.jpg?ve=1&amp;tl=1 2x"
              height="192" width="343">
            <source media="(min-width: 768px) and (max-width: 1023px)"
              srcset="https://a57.foxnews.com/static.foxnews.com/foxnews.com/content/uploads/2023/01/672/378/New-York-state-capitol.jpg?ve=1&amp;tl=1, https://a57.foxnews.com/static.foxnews.com/foxnews.com/content/uploads/2023/01/1344/756/New-York-state-capitol.jpg?ve=1&amp;tl=1 2x"
              height="378" width="672">
            <source media="(min-width: 1024px) and (max-width: 1279px)"
              srcset="https://a57.foxnews.com/static.foxnews.com/foxnews.com/content/uploads/2023/01/931/523/New-York-state-capitol.jpg?ve=1&amp;tl=1, https://a57.foxnews.com/static.foxnews.com/foxnews.com/content/uploads/2023/01/1862/1046/New-York-state-capitol.jpg?ve=1&amp;tl=1 2x"
              height="523" width="931">
            <source media="(min-width: 1280px)"
              srcset="https://a57.foxnews.com/static.foxnews.com/foxnews.com/content/uploads/2023/01/720/405/New-York-state-capitol.jpg?ve=1&amp;tl=1, https://a57.foxnews.com/static.foxnews.com/foxnews.com/content/uploads/2023/01/1440/810/New-York-state-capitol.jpg?ve=1&amp;tl=1 2x"
              height="405" width="720"> <img
              src="https://a57.foxnews.com/static.foxnews.com/foxnews.com/content/uploads/2023/01/1200/675/New-York-state-capitol.jpg?ve=1&amp;tl=1"
              alt="New York state capitol" width="1200" height="675">
          </picture>
        </div>
        <div class="info">
          <div class="caption">
            <p><span>The New York state Capitol is seen prior to Gov. Kathy Hochul delivering her State of the State
                address in the Assembly Chamber at the state Capitol, Tuesday, Jan. 10, 2023, in Albany, N.Y.</span>
              <span>(AP Photo/Hans Pennink)</span></p>
          </div>
        </div>
      </div>
      <div class="ad-container tablet ad-h-50 ad-w-300">
        <div data-iu="lb3" class="ad gam"></div> <!----> <!---->
      </div>
      <p>New York has been in the midst of a redistricting saga stretching back to before the 2022 election cycle.
        Voters in the Empire State approved an amendment to the state’s constitution in 2014 that reformed its
        redistricting process and prohibited partisan gerrymandering. It ultimately created the bipartisan Independent
        Redistricting Commission, which is tasked with redrawing congressional lines.&nbsp;</p>
      <p>The commission, however, failed to reach a consensus ahead of the 2022 election, <a
          href="https://www.foxnews.com/category/politics/elections/democrats"><u>allowing the Democrat-controlled
            legislature</u></a> to step in and draw the maps.</p>
      <div class="ad-container mobile ad-h-250 ad-w-300 ad-placeholder-load"><!---->
        <div data-iu="ban3" id="mobile-mw-ad-ban3" class="ad gam inline" data-ad-lz="1"></div>
        <script>
          if (window && window.foxstrike && Array.isArray(window.foxstrike.cmd)) {
            window.foxstrike.cmd.push(function (Strike) {
              Strike.insertAd('mobile', 'ban3', 'mobile-mw-ad-ban3');
            });
          } else {
            console.error('Error: window.foxstrike not found');
          }
        </script>
      </div>
      <p><a
          href="https://www.foxnews.com/politics/new-york-legal-battle-unfolds-states-high-court-reviews-lawsuit-potential-redraw-house-map"
          target="_blank"><strong><u>NEW YORK LEGAL BATTLE UNFOLDS AS STATE'S HIGH COURT REVIEWS LAWSUIT WITH POTENTIAL
              TO REDRAW HOUSE MAP</u></strong></a></p>
      <p>Democratic Gov. Kathy Hochul signed the redrawn maps into law, sparking legal action from Republicans that the
        maps gave Democrats the upper hand in 22 of the state’s 26 districts. A county judge at the time struck down the
        Democrat-drawn maps before Democrats in the state took the case to the Court of Appeals.</p>
      <div class="image-ct inline">
        <div class="m">
          <picture>
            <source media="(max-width: 767px)"
              srcset="https://static.foxnews.com/foxnews.com/content/uploads/2023/11/Kathy-Hochul-New-York.gif, https://static.foxnews.com/foxnews.com/content/uploads/2023/11/Kathy-Hochul-New-York.gif 2x"
              height="192" width="343">
            <source media="(min-width: 768px) and (max-width: 1023px)"
              srcset="https://static.foxnews.com/foxnews.com/content/uploads/2023/11/Kathy-Hochul-New-York.gif, https://static.foxnews.com/foxnews.com/content/uploads/2023/11/Kathy-Hochul-New-York.gif 2x"
              height="378" width="672">
            <source media="(min-width: 1024px) and (max-width: 1279px)"
              srcset="https://static.foxnews.com/foxnews.com/content/uploads/2023/11/Kathy-Hochul-New-York.gif, https://static.foxnews.com/foxnews.com/content/uploads/2023/11/Kathy-Hochul-New-York.gif 2x"
              height="523" width="931">
            <source media="(min-width: 1280px)"
              srcset="https://static.foxnews.com/foxnews.com/content/uploads/2023/11/Kathy-Hochul-New-York.gif, https://static.foxnews.com/foxnews.com/content/uploads/2023/11/Kathy-Hochul-New-York.gif 2x"
              height="405" width="720"> <img
              src="https://static.foxnews.com/foxnews.com/content/uploads/2023/11/Kathy-Hochul-New-York.gif"
              alt="Kathy Hochul speaks at the state Capitol in New York" width="2023" height="11">
          </picture>
        </div>
        <div class="info">
          <div class="caption">
            <p><span>New York Gov. Kathy Hochul speaking at the state Capitol, Feb. 1, 2023, in Albany, New York.</span>
              <span>((AP Photo/Hans Pennink, File))</span></p>
          </div>
        </div>
      </div>
      <div class="ad-container tablet ad-h-50 ad-w-300">
        <div data-iu="lb4" class="ad gam"></div> <!----> <!---->
      </div>
      <p>The Court of Appeals also struck down the map and appointed a "special master" <a
          href="https://www.foxnews.com/category/us/congress" target="_blank">to redraw the congressional lines ahead of
          the 2022 election</a>. Republicans that year won five out of the six competitive House races in New York and
        flipped four blue seats red.</p>
      <div class="ad-container desktop ad-h-50 ad-w-300">
        <div data-iu="lb3" class="ad gam" id="desktop_desk-art-us-lb3"
          data-ad-size="728x90,300x250,320x50,300x50,1x1,fluid" data-ad-lz="1" data-hot-unit=""></div> <!----> <!---->
      </div>
      <div class="ad-container mobile ad-h-250 ad-w-300 ad-placeholder-load"><!---->
        <div data-iu="ban4" id="mobile-mw-ad-ban4" class="ad gam inline" data-ad-lz="1"></div>
        <script>
          if (window && window.foxstrike && Array.isArray(window.foxstrike.cmd)) {
            window.foxstrike.cmd.push(function (Strike) {
              Strike.insertAd('mobile', 'ban4', 'mobile-mw-ad-ban4');
            });
          } else {
            console.error('Error: window.foxstrike not found');
          }
        </script>
      </div>
  </div>

<h2>Conversation</h2>
<div class="container_app">
  <app-chart></app-chart>
  <ng-container *ngIf="comments">
    <div class="comments" *ngFor="let comment of comments">
      <app-card [currentUser]="currentUser" [comment]="comment"></app-card>
      <div class="replies" *ngIf="comment.replies.length > 0">
        <div *ngFor="let reply of comment.replies">
          <app-card [currentUser]="currentUser" [reply]="reply"></app-card>
        </div>
      </div>
    </div>
  </ng-container>
  <app-comment-card></app-comment-card>
</div>