.container_message {
  color: var(--grayish-blue);
  margin-top: 15px;
}

span {
  color: var(--moderate-blue);
  font-weight: bold;
}

@media screen and (min-width: 1024px) {
  .container_message {
    line-height: 22px;
  }
}
